#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  text-align: right;
}

.no-spinner {
  -moz-appearance: textfield;
  /* Firefox */
}

.module-dropdown-toggle {
  width: 42px;
  height: 42px;
  padding: 0rem !important;
}

.module-dropdown-toggle::after {
  display: none !important;
}

.module-dropdown-menu {
  padding: 8px !important;
}

.module-grid {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.module-grid-row {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.module-icon {
  border: 2px solid !important;
}

.module-icon.selected {
  border: 2px solid blue !important;
  color: black;
}

.field-card-body {
  border: 2px solid transparent;
  border-radius: 6px;
  margin: 10px;
  transition: border-color 0.15s ease-in-out;
}

.field-card-body.selected {
  border: 2px solid blue !important;
}

.inline-sprite-text>* {
  vertical-align: middle;
}