#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.clear-btn {
  margin: 8px;
}

.module-dropdown-toggle {
  width: 64px;
  height: 64px;
}

.module-dropdown-toggle::after {
  display: none !important;
}

.module-dropdown-menu {
  padding: 16px !important;
}

.module-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.module-grid-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.module-icon {
  cursor: pointer;
  text-align: center;
  padding: 6px;
  color: white;
}

.selected {
  background-color: lightgrey;
  border-radius: 6px;
  border: 2px solid grey;
  color: black;
  padding: 4px;
}